.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}